@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}

.MuiOutlinedInput-input:focus ~ .MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
  border-color: #757575 !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
  border-color: #757575 !important;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  25% {
    transform: scale(1.1);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0.7;
  }
  75% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

.animate-heartbeat {
  animation: heartbeat 2s infinite;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
